# ======================
# Build output
# ======================
/dist
/out-tsc
/tmp
/bazel-out
/coverage

# ======================
# Node
# ======================
node_modules/
npm-debug.log*
yarn-error.log*

# ======================
# Angular
# ======================
.angular/
.angular/cache

# ======================
# IDE - VS Code
# ======================
.vscode/

# ======================
# IDE - JetBrains
# ======================
.idea/

# ======================
# Logs
# ======================
*.log
testem.log
connect.lock
libpeerconnection.log

# ======================
# Misc
# ======================
.sass-cache/
/typings
__screenshots__/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db